{% extends 'base.html.twig' %}

{% block headjavascripts %}
    <script src="/js/MapPreview.js"></script>
{% endblock %}


{% block body %}
    <h1>UserMap list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Karte</th>
                <th>Kommentar</th>
                <th>Bespielt?</th>
                <th>Ersteller</th>
                <th>Was machen?</th>
            </tr>
        </thead>
        <tbody>
            {% for userMap in userMaps %}
                <tr>
                    <td>{{ userMap.id }}</td>
                    <td><a href="{{ path('usermap_show', { 'id': userMap.id }) }}">{{ userMap.name }}</a></td>
                    <td>
                        <canvas id="preview{{ userMap.id }}"/>
                        <script type="text/javascript">
                            var mpv{{ userMap.id }}= new MapPreview({
                                el: "#preview{{ userMap.id }}",
                                size: 1,
                                border: 0
                            });
                            mpv{{ userMap.id }}.setMapcode("{{ userMap.mapcode|replace({"\r":"", "\n":"\\n"}) }}");
                        </script>
                    </td>
                    <td>{{ userMap.comment }}</td>
                    <td>{% if userMap.used %}Yes{% else %}No{% endif %}</td>
                    <td>{{ userMap.author }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('usermap_show', { 'id': userMap.id }) }}">Anzeigen</a>
                            </li>
                            {% if not userMap.used %}
                                {% if app.user == userMap.author or is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('usermap_edit', { 'id': userMap.id }) }}">Ändern</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usermap_new') }}">Neue Karte anlegen</a>
        </li>
    </ul>
{% endblock %}
