{% extends 'base.html.twig' %}

{% block body %}
    <h1>UserMap</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ userMap.name }}</td>
            </tr>
            <tr>
                <th>Mapcode</th>
                <td>{{ userMap.mapcode }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ userMap.comment }}</td>
            </tr>
            <tr>
                <th>Used</th>
                <td>{% if userMap.used %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ userMap.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usermap_index') }}">Back to the list</a>
        </li>
        {% if not userMap.used %}
            {% if app.user == userMap.author or is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('usermap_edit', { 'id': userMap.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}
