{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eigene Karte - {{  userMap.name }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userMap.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ userMap.name }}</td>
            </tr>
            <tr>
                <th>Mapcode</th>
                <td>{{ userMap.mapcode }}</td>
            </tr>
            <tr>
                <th>Kommentar</th>
                <td>{{ userMap.comment }}</td>
            </tr>
            <tr>
                <th>Verwendet?</th>
                <td>{% if userMap.used %}Ja{% else %}Nein{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usermap_index') }}">Zurück zur Liste</a>
        </li>
        {% if not userMap.used %}
            {% if app.user == userMap.author or is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('usermap_edit', { 'id': userMap.id }) }}">Ändern</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Löschen">
                    {{ form_end(delete_form) }}
                </li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}
