{% extends 'base.html.twig' %}

{% block body %}
    <script src="http://www.karopapier.de/js/jquery.sparkline.js"></script>
    <h1 class="karoborder">Wer ist {{ user.name }}?</h1>
    <div class="floatleft">

        Nun, was wissen wir 체ber {{ user.name }}?<br/>
        <div class="userimage">
            <img src="{{ user.picture }}">
        </div>
        Gravatar: <img src="{{ user.gravatar }}?default=http%3A%2F%2Fwww.karopapier.de%2Ffavicon.gif&size=40"><br/>
    </div>

    <div class="floatleft">

        Dabei seit: {{ user.signupdate|date("d.m.Y") }} ({{ user.signupdate|daysAgo }} Tage)<br/>
        Geburtstag: {{ user.birthday|date("d.m.Y") }}<br/>

        {% if user.invitor.id != 0 %}
            Wurde nachweislich von {{ user.invitor.login }} eingeladen.<br/>
        {% else %}
            Hat sich einfach so angemeldet.<br/>
        {% endif %}

        {% if user.isbot %}
            <b>Ist ein BOT</b><br/>
        {% endif %}
    </div>

    <div class="floatleft">
        {% if user.homepage %}
            Homepage: <a href="{{ user.homepage }}">{{ user.homepage }}</a><br/>
        {% endif %}

        {% if user.twitter %}
            twitter: <a href="https://www.twitter.com/{{ user.twitter }}">@{{ user.twitter }}</a><br/>
        {% endif %}

        {% if user.shortInfo %}
            <b>Info:</b> {{ user.shortInfo }}<br/>
        {% endif %}
    </div>

    <div class="floatleft">
        Gefahren: <span title="{{ distance }} Karomilimeter auf Karopapier">{{ (distance/1000)|round }} Karometer</span><br/>
        Zugverteilung &uuml;ber die Jahre (pro Monat):
        <div id="moves"></div>
        <script type="text/javascript">
            var months = {{ months|json_encode }};
            var moves = {{ moveCounts|json_encode }};
            $('#moves').sparkline(moves, {
                values: months,
                tooltipFormatter: function(sp, o, fields) {
                    var m = months[fields.x];
                    console.log(fields);
                    return m + ": " + fields.y;
                }
            });
        </script>
    </div>
    {#
    //Maxgames
    //

    //Color
    //faulpelz
    //Signupdate
    //Dran, Stats mit Z체gen der letzten X
    //
    #}
    Noch mehr kommt noch... hinter den n채chsten T체rchen... - ganz wirklich, dieses Jahr noch!!!
{% endblock %}
