{% extends "base.html.twig" %}
{% block body %}
    <h1>Einstellungen</h1>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice" style="background-color: lightgreen"> {{ message }} </div>
    {% endfor %}

    {{ form_start(form) }}
    <table>
        <tbody>
        <tr>
            <th>{{ form_label(form.vorname) }}</th>
            <td> {{ form_widget(form.vorname) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.nachname) }}</th>
            <td> {{ form_widget(form.nachname) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.color) }}</th>
            <td> {{ form_widget(form.color) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.homepage) }}</th>
            <td> {{ form_widget(form.homepage) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.birthday) }}</th>
            <td> {{ form_widget(form.birthday) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.picture) }}</th>
            <td> {{ form_widget(form.picture) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.twitter) }}</th>
            <td> {{ form_widget(form.twitter) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.sendmail) }}</th>
            <td> {{ form_widget(form.sendmail) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.tag) }}</th>
            <td> {{ form_widget(form.tag) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.nacht) }}</th>
            <td> {{ form_widget(form.nacht) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.maxgames) }}
                <span class="quicktip quicktip-info"
                      data-quicktip="Wenn du so viele hast bist Du erst mal nicht mehr einladbar">&nbsp;</span>
            </th>
            <td>{{ form_widget(form.maxgames) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.gamesPerPage) }}</th>
            <td> {{ form_widget(form.gamesPerPage) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.gamesOrder) }}</th>
            <td> {{ form_widget(form.gamesOrder) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.theme) }}</th>
            <td> {{ form_widget(form.theme) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.useBart) }}</th>
            <td> {{ form_widget(form.useBart) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.moveAutoforward) }}</th>
            <td> {{ form_widget(form.moveAutoforward) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.statusCode) }}</th>
            <td> {{ form_widget(form.statusCode) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.useSound) }}</th>
            <td> {{ form_widget(form.useSound) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.notificationSound) }}</th>
            <td> {{ form_widget(form.notificationSound) }}
                <input type="button" value="Soundvergleich laden" id="playSound"/>
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.shortInfo) }}</th>
            <td> {{ form_widget(form.shortInfo) }}
        </tr>
        <tr>
            <td colspan="2">
                <button>Einstellungen speichern</button>
            </td>
        </tr>


        </tbody>
    </table>

    {{ form_end(form) }}

    <p>Ja, das wird noch hübscher, aber das tut wenigstens mal wieder...</p>
{% endblock %}
